{% extends 'headers.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CleanMe - Cleaning Company Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Cleaning Company Website Template" name="keywords">
        <meta content="Cleaning Company Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>About Us</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="https://images.unsplash.com/photo-1488750059241-ed3ad4563245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-text">
                                <h2><span>10</span> Years Experience</h2>
                                <p>
                                    RAJHANS REALTY - Where Luxury is a Way of Life
Everyone has a dream world of their own that makes them happy. For some, it’s home sweet home, where they can live their dreams. For others, it’s commercial space that fulfills their business aspirations. At Rajhans (Desai-Jain) Group, we transform dreams into realities by constructing new landmarks in residential, commercial, leisure and industrial categories.

Within 10 years of starting operations, we have transformed Gujarat’s skyline and have become one of the most trusted builders in Gujarat, Maharashtra and Haryana. In years to come, the group is poised to enter states such as Karnataka, Delhi, Punjab, Madhya Pradesh and Rajasthan. Rajhans Realty is therefore committed to spreading its wings of happiness nationally.
With unswerving dedication and quality commitment, Rajhans Realty has earned many eminent recognitions. To name a few appellations, our Rajhans Realty is the proud recipient of the prestigious CREDAI Award in 2012 for the ‘Best Residential Apartment Lifestyle Non Metro' category, and the CNBC AWAAZ Real Estate Award in 2013 for the 'Best Fully Completed Luxury Residential Project from Surat City'. Add to more, the group has achieved other milestones by receiving the awards by Brands Academy (2014-15) such as the ‘Fastest Growing Real Estate Developer of the Year’ (Gujarat) and for our project Rajhans Elita - ‘Real Estate Developer of the Year’ (Luxury Housing) and in the commercial segment for Rajhans Ornate - the ‘Best Commercial Project of the Year’. After all, it’s the footprint which we leave behind that says all about us.
                              
                                </p>
                               
                                <a class="btn" href="">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Story Start -->
            <div class="story">
                <div class="container">
                    <div class="section-header">
                        <p>Company Story</p>
                        <h2>Learn About Our Journey</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="story-container">
                                <div class="story-end">
                                    <p>Now</p>
                                </div>
                                <div class="story-continue">

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Dec 2020
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Jun 2020
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Jun 2020
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="story-year">
                                                <p>2020</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Dec 2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Jun  2019
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Jun  2019
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="story-year">
                                                <p>2019</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-right">
                                        <div class="col-md-6">
                                            <p class="story-date">
                                                01 Dec 2018
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row story-left">
                                        <div class="col-md-6 d-md-none d-block">
                                            <p class="story-date">
                                                01 Jun 2018
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="story-box">
                                                <div class="story-text">
                                                    <h3>Lorem ipsum dolor</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-md-block d-none">
                                            <p class="story-date">
                                                01 Jun 2018
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="story-start">
                                    <p>Launch</p>
                                </div>
                                <div class="story-launch">
                                    <div class="story-box">
                                        <div class="story-text">
                                            <h3>Launched our company on 01 Jan 2018</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Proin euismod nibh in convallis. Nam vitae posuere tortor, et imperdiet nunc. Praesent nisl nulla, fringilla eu ornare, dignissim vitae ipsum.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Story End -->


            

           {% endblock %}