{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <br><br>

<h2>COMPLAIN DETAILS</h2>
<br>

<table>
  <tr>
    <th>NAME</th>
    <th>FLAT NO</th>
    <th>MOBILE</th>
    <th>DESCRIPTIONS</th>
    
   
    <th>STATUS<select name="cars" id="cars">
      <option value="volvo"  >pending</option>
      <option value="saab">solve</option></th>
    <th>Action</th>
  </tr>
<tbody>
  {% for i in r %}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.flat}}</td>
    <td>{{i.mobile}}</td>
    <td>{{i.description}}</td>
    <td >{{i.status}}
      <a href=""></a>
    </td>
    <td><a href="{% url 'delete' i.id %}"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></a>  </td>
  </tr>
 
  
  {% endfor %}
</tbody>  
</table>

</body>
</html>
<br><br><br><br><br><br>



{% endblock %}

